functions in regular expressions

findall, search, split, sub, finditer

### i have completed upto 7th video in this playlist: https://youtu.be/WH_IgZldAgU?list=PLGKQkV4guDKH1TpfM-FvPGLUyjsPGdXOg   . i think that is sufficent, in case if need check the whole playlist

In [1]:
import re

regex cheat sheet: https://cheatography.com/mutanclan/cheat-sheets/python-regular-expression-regex/

In [10]:
print('\n') #prints a empty line
print('\\n')
#or we can do like
print((r'\n')) #actually wants to print '\n', we use 'r'--> which is called raw_string

\n
\n

In [6]:
print(re.findall('\d','hemanth123'))
re.findall('\D','hemanth123')

['1', '2', '3']

['h', 'e', 'm', 'a', 'n', 't', 'h']

'\d'- for all digits and '\D'  for all non-digits

### example: checking valid e-mail or not

In [9]:
mail='hemanthkumar@gmail.com'
if re.search('^[a-zA-Z0-9]+@+[a-zA-Z]+\.+(com|net|edu)',mail):
    print('valid email')
else:
    print('invalid email')

valid email

above is just an example not a perfect one, it don't work always. in real mail checker is more complicated.

### match and search

In [11]:
bool(re.match('c','abcdr'))

False

In [12]:
bool(re.match('a','abcdr'))

True

match always matches with the first charecter

In [13]:
re.search('a','abcakd')

search gives the first location of the match

In [16]:
re.match('a','abcefg').group() #used to print the match

'a'

In [17]:
re.search('a','abcakd').start() #gives the starting index

0

In [18]:
re.search('a','abcakd').end() #gives the ending index

1

In [22]:
re.search('a|b|k','abcakd') #searching for 'a' or 'b' #gives the first match

### findall

pulls out all the instances of the given pattern

In [23]:
re.findall('abc','abcdeg abce')

['abc', 'abc']

In [24]:
re.findall('a|b','abcd b')

['a', 'b', 'b']

### charecter set

In [28]:
re.search('\w+','hemanth_1999')

'\w' is the charecter set of [a-zA-Z0-9_]

'\W' is the opposite of above set

In [29]:
re.search('\w+','heman@th_1999').group()

'heman'

### quntifiers

'+' - one or more occurences

'*' - zero or more occurences

'?' - zero or one occrence

'{n,m} - n to m no.of time occurences 

#### we can skip upper or lower bound by :{,3} --> upto 3 times, {3,} --> 3 or more times

### other types of charecter sets

'\d' -[0-9]

'\D' -not [0-9]

'\s' -white space

'\S' -non white space

'.' - the dot matches any cahrecter except a new line.

In [36]:
s='''Historically, and in current teaching, the study of algebra starts with the solving of equations such as the quadratic equation above. Then more general questions, such as "does an equation have a solution?", "how many solutions does an equation have?", "what can be said about the nature of the solutions?" are considered. These questions led extending algebra to non-numerical objects, 

such as permutations, vectors, matrices, and polynomials. The structural properties of these non-numerical objects were then abstracted into algebraic structures such as groups, rings, and fields.Before the 16th century, mathematics was divided into only two subfields, arithmetic and geometry. Even though some methods, which had been developed much earlier, may be considered nowadays as algebra,

the emergence of algebra and, soon thereafter, of infinitesimal calculus as subfields of mathematics only dates from the 16th or 17th century. From the second half of the 19th century on, many new fields of mathematics appeared, most of which made use of both arithmetic and geometry, and almost all of which used algebra.'''
re.search('.+',s).group()

'Historically, and in current teaching, the study of algebra starts with the solving of equations such as the quadratic equation above. Then more general questions, such as "does an equation have a solution?", "how many solutions does an equation have?", "what can be said about the nature of the solutions?" are considered. These questions led extending algebra to non-numerical objects, '

only matching the first line, don't take in count for the rest.

if we need to consider the rest of the lines also we should write the below code

In [37]:
re.search('.+',s,flags=re.DOTALL).group()

'Historically, and in current teaching, the study of algebra starts with the solving of equations such as the quadratic equation above. Then more general questions, such as "does an equation have a solution?", "how many solutions does an equation have?", "what can be said about the nature of the solutions?" are considered. These questions led extending algebra to non-numerical objects, \n\nsuch as permutations, vectors, matrices, and polynomials. The structural properties of these non-numerical objects were then abstracted into algebraic structures such as groups, rings, and fields.Before the 16th century, mathematics was divided into only two subfields, arithmetic and geometry. Even though some methods, which had been developed much earlier, may be considered nowadays as algebra,\n\nthe emergence of algebra and, soon thereafter, of infinitesimal calculus as subfields of mathematics only dates from the 16th or 17th century. From the second half of the 19th century on, many new fields of mathematics appeared, most of which made use of both arithmetic and geometry, and almost all of which used algebra.'

### creating our own cahrecter set

In [38]:
re.findall('[A-Z]','Hemanth Kumar Karangi')

['H', 'K', 'K']

In [41]:
re.findall('[A-Z.]','Hemanth.karangi') #notice here within the set the '.' is considered as '.' only, not as a any charecter.

['H', '.']

^[] - represents starts with

[^] - does not start with the elements in the set

In [51]:
re.findall('^[A-Z]?[a-z]+','HemanthKarangi')

['Hemanth']

In [52]:
re.findall('[^A-Z]?[a-z]+','HemanthKarangi')

['emanth', 'arangi']

### groups

In [62]:
s='Hemanth has 3 dogs, Sanjay had 2 parrots and Vinod had 1 hsuky'

In [63]:
re.findall('[A-Za-z]+ \w+ \d+ \w+',s)

['Hemanth has 3 dogs', 'Sanjay had 2 parrots', 'Vinod had 1 hsuky']

In [65]:
re.findall('([A-Za-z]+) \w+ \d+ \w+',s)  #from the paterns we find we want the pattern in the ()

['Hemanth', 'Sanjay', 'Vinod']

In [66]:
re.findall('[A-Za-z]+ \w+ \d+ (\w+)',s)

['dogs', 'parrots', 'hsuky']

In [67]:
re.findall('([A-Za-z]+) \w+ (\d+) (\w+)',s)

[('Hemanth', '3', 'dogs'), ('Sanjay', '2', 'parrots'), ('Vinod', '1', 'hsuky')]

In [69]:
info=re.findall('([A-Za-z]+) \w+ (\d+) (\w+)',s)
print(list(zip(*info)))

[('Hemanth', 'Sanjay', 'Vinod'), ('3', '2', '1'), ('dogs', 'parrots', 'hsuky')]

In [70]:
re.findall('(([A-Za-z]+) \w+ (\d+) (\w+))',s)

[('Hemanth has 3 dogs', 'Hemanth', '3', 'dogs'),
 ('Sanjay had 2 parrots', 'Sanjay', '2', 'parrots'),
 ('Vinod had 1 hsuky', 'Vinod', '1', 'hsuky')]

In [71]:
for i in re.findall('(([A-Za-z]+) \w+ (\d+) (\w+))',s):
    print(i)

('Hemanth has 3 dogs', 'Hemanth', '3', 'dogs')
('Sanjay had 2 parrots', 'Sanjay', '2', 'parrots')
('Vinod had 1 hsuky', 'Vinod', '1', 'hsuky')

### naming groups

In [73]:
s='v.z.m, gummalakshmipuram, 535523'
re.findall('[A-Za-z.]+,\s[A-Za-z.]+,\s[0-9]+',s)

['v.z.m, gummalakshmipuram, 535523']

naming each group

In [78]:
pattern=re.compile('(?P<city>[A-Za-z.]+),(?P<village>\s[A-Za-z.]+),(?P<pin_code>\s[0-9]+)')
#we can use above line but below one also works good

In [76]:
re.findall('(?P<city>[A-Za-z.]+),(?P<village>\s[A-Za-z.]+),(?P<pin_code>\s[0-9]+)',s)

[('v.z.m', ' gummalakshmipuram', ' 535523')]

In [80]:
match=re.search('(?P<city>[A-Za-z.]+),(?P<village>\s[A-Za-z.]+),(?P<pin_code>\s[0-9]+)',s)
match.groupdict()

{'city': 'v.z.m', 'village': ' gummalakshmipuram', 'pin_code': ' 535523'}

In [81]:
match.group(1)

'v.z.m'

In [85]:
re.search('(\d)+','1,2,3,4,5,6,7,8,9').groups()

('1',)